.datos-contenedor{
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.imagen-contendor{
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.imagen-datos{
  width: 100vw;
  height: 100%;
}

.perfil-contenedor{
  position: relative;
  width: 100%;
  height: 80vh;
  background: #ffefff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:end;
  box-shadow: 0 -6px 18px rgba(0,0,0,0.12);
  padding: 50px 0 ;
}

.imagen-perfil-contendor{
  position: absolute;
  top: -150px;
  width: 50vw;
  max-width: 400px;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  border: 4px solid #ffffff;
}

.imagenPerfil{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.nombre{
  font-family: 'Seasons', serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #A52488;
  margin-bottom: 1rem;
}

.boton-perfil{
  width: 80%;
}