@font-face {
  font-family: 'Adlery';
  src: url("../fuentes/Adlery.ttf");
}
.login-contenedor{
  background-color: #ffffff;
  background-image: url('../imagenes/fondoLogin.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: end;
}


.formulario-contenedor{
  width: 100vw;
  height: 55vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  background-color: #eed0ed;
  box-shadow: 0 -6px 18px rgba(0,0,0,0.12);
  padding-bottom: 6rem;
}

.frase-contenedor{
  width: 100%;
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frase{
  font-family: 'Adlery', cursive;
  font-size: 2.7rem;
  font-weight: 500;
  color: #A52488;
  text-align: center;
}

.input-usuario, .input-contraseña{
  width: 80%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.mensaje-contraseña{
  font-family: 'Seasons', cursive;
  font-size: 1rem;
  color: #A52488;
  text-align: center;
  cursor: pointer;
}